﻿
.btn-h-outline-warning:hover {
	color: #000000 !important;
	border-color: #efae43 !important;
	background-color: transparent !important;
}
.btn-warning {
	color: #101010 !important;
	background-color: #FFC107 !important;
}

.btn-outline-warning {
	color: #ffc107 !important;
}

.btn-outline-danger {
	color: #d32f2f !important;
}
.form-text-validation {
	display: block;
	margin-top: .25rem;
	font-size: 0.88em !important;
}

.page-header {
	margin: 0 0 2rem !important;
	padding-bottom: 0 !important;
	padding-top: 0 !important;
	border-bottom: 2px dotted #e2e2e2 !important;
}
.page-title .page-info{
	margin: 0 !important;
}
.page-title {
	font-size: 1.5rem !important;
}
.custom-bgc-danger-tp1 {
	background-color: rgb(191, 8, 8) !important;
}