﻿
@{
	ViewBag.Title = "ListRequest";
	Layout = "~/Views/Shared/_LayoutMaster.cshtml";
}


<div class="row">
	<div class="col-12">

		<div class="h-100 bg-white pt-0 radius-1 shadow-lg mx-auto">
			<div class="border-t-3 w-100 brc-dark radius-t-1"></div>
			<div class="card border-0 h-100" id="card-8">
				<div class="card-header  brc-dark-l2">
					<h5 class="card-title text-110 text-dark font-bold pt-1">
						<i class="fa fa-table mr-2px" aria-hidden="true"></i>
						Relación de Solicitudes Registradas
					</h5>
					<div class="card-toolbar">
						<a class="btn btn-wide btn-warning btn-h-outline-warning btn-a-outline-warning border-2 mb-1" href="@Url.Action("CreateRequest", "Request")">
							<i class="fa fa-user-plus text-110 mr-2" aria-hidden="true"></i>
							Nuevo
						</a>
					</div>
				</div><!-- /.card-header -->

				<div class="card-body bg-white p-0 collapse show">
					<br />
					<div class="row">
						<div class="col">
						</div>
						<div class="col-6 text-center">
							<label class="font-bolder">Buscar Información:</label>
							<div id="id-daterange-wrapper" class="pos-rel">
								<div class="form-row">
									<div class="col">
										<div class="input-group">

											<input type="text" id="id-daterange-from" autocomplete="off" class="form-control ex-inputs-start" placeholder="Fecha Inicial" />
											<div class="input-group-append">
												<span class="input-group-text"><i class="fa fa-calendar-day"></i></span>
											</div>
										</div>

									</div>
									<div class="text-grey-l2">_</div>
									<div class="col">
										<div class="input-group">
											<input type="text" id="id-daterange-to" autocomplete="off" class="form-control ex-inputs-end" placeholder="Fecha Final" />
											<div class="input-group-append">
												<span class="input-group-text"><i class="fa fa-calendar-day"></i></span>
											</div>
										</div>
									</div>
								</div>

								<div id="id-daterange-container" class="dp-daterange-picker"></div>
							</div>

						</div>
						<div class="col">
							<br />
							<div class="form-group">
								<button id="btnBuscar" class="btn btn-warning mt-1 radius-1 border-b-2 d-inline-flex align-items-center pl-2px py-2px btn-bold">
									<span class="bgc-white-tp9 shadow-sm radius-2px h-4 px-25 pt-1 mr-25 border-1">
										<i class="fa fa-search text-dark text-110 mt-3px"></i>
									</span>
									Buscar
								</button>
							</div>
						</div>
					</div>

					<div class="p-3">
						<table id="listRequest" class="table table-striped dt-responsive nowrap" aria-hidden="true" style="width:100%">
							<thead>
								<tr class="bgc-dark text-white">
									<th scope="col"></th>
									<th scope="col">No Solicitud</th>
									<th scope="col">Creada</th>
									<th scope="col">Solcitante</th>
									<th scope="col">Monto</th>
									<th scope="col">P. Pagos</th>
									<th scope="col">T. Descuento</th>
									<th scope="col">Admin. Descuento</th>
									<th scope="col">Admin. Gasto</th>
									<th scope="col">M. Adicionales</th>
									<th scope="col">Abono C/M</th>
									<th scope="col">Total</th>
									<th scope="col">Aval</th>
									<th scope="col">A. Descuento</th>
									<th scope="col">Opciones</th>
								</tr>
							</thead>
						</table>
					</div>
					<div class="bgc-light px-3 py-2 border-t-2 brc-dark-l2 d-flex ">

					</div>

				</div><!-- /.card-body -->
			</div>
			<div class="border-b-3 w-100 brc-dark radius-b-1"></div>
		</div>

	</div>
</div>
@section PageCrumb{

	<small class="page-info text-secondary-d2">
		<i class="fa fa-angle-double-right text-80" aria-hidden="true"></i>
		Relación de Solicitudes
	</small>
}
@section styles{

	<link href="~/assetsAce/node_modules/js/plugins/datatable/dataTables.bootstrap4.min.css" rel="stylesheet" />
	<link href="~/assetsAce/node_modules/js/plugins/datatable/responsive.bootstrap4.min.css" rel="stylesheet" />
	<link href="~/assetsAce/node_modules/js/plugins/chosen-js/chosen.min.css" rel="stylesheet" />
	<link href="~/assetsAce/node_modules/js/plugins/tiny-date-picker/tiny-date-picker.css" rel="stylesheet" />
	<link href="~/assetsAce/node_modules/js/plugins/tiny-date-picker/date-range-picker.css" rel="stylesheet" />
}

@section scripts {

	<script src="~/assetsAce/node_modules/js/plugins/datatable/jquery.dataTables.min.js"></script>
	<script src="~/assetsAce/node_modules/js/plugins/datatable/dataTables.bootstrap4.min.js"></script>
	<script src="~/assetsAce/node_modules/js/plugins/datatable/dataTables.responsive.min.js"></script>
	<script src="~/assetsAce/node_modules/js/plugins/datatable/responsive.bootstrap4.min.js"></script>
	<script src="~/assetsAce/node_modules/js/plugins/chosen-js/chosen.jquery.min.js"></script>
	<script src="~/assetsAce/node_modules/js/plugins/tiny-date-picker/date-range-picker.js"></script>

	<script type="text/javascript">
		$(function () {

			//Rango de Fechas **************
			var daterange_container = document.querySelector('#id-daterange-container');
			// Inject DateRangePicker into our container
			DateRangePicker.DateRangePicker(daterange_container, {
				mode: 'dp-below'
			}).on('statechange', function (_, rp) {
					// Update the inputs when the state changes
					var range = rp.state;
				$('#id-daterange-from').val(range.start ? FormatDateShort(range.start) : '');
				$('#id-daterange-to').val(range.end ? FormatDateShort(range.end) : '');
				});

			$('#id-daterange-from, #id-daterange-to').on('focus', function () {
				daterange_container.classList.add('visible');
			});

			var daterange_wrapper = document.querySelector('#id-daterange-wrapper');
			var previousTimeout = null;
			$(daterange_wrapper).on('focusout', function () {
				if (previousTimeout) clearTimeout(previousTimeout);
				previousTimeout = setTimeout(function () {
					if (!daterange_wrapper.contains(document.activeElement)) {
						daterange_container.classList.remove('visible');
					}
				}, 10);
			});

			//Rango de Fechas **************

			//Carga inicial de la informacion
			LoadDataRequest(1);

		});
		$("#btnBuscar").click(function (evt) {
			const rangeDate = {
				fechaInicial : $('#id-daterange-from').val(),
				fechaFinal: $('#id-daterange-to').val()
			}
			LoadDataRequest(2, rangeDate)
		});
		//Recibe un parametro de tipo entero
		function LoadDataRequest(indicador, rangeDate = {}) {
			//ComplementDataTable();
			if (indicador === 1) { //Carga inicial de la informacion

				$('#listRequest').DataTable({
					serverSide: true,
					processing: true,
					destroy: true,
					//stateSave: true,
					filter: true,
					paging: true,
					order: [1, 'asc'],
					responsive:
					{
						details: {
							type: 'column',
							renderer: function (api, rowIdx, columns) {
								var data = $.map(columns, function (col, i) {
									if (col.hidden) {
										if (col.title === "Opciones") {
											var menu = "";
											menu = '<tr data-dt-row="' + col.rowIndex + '" data-dt-column="' + col.columnIndex + '">' +
												'<td>' + col.title + ':' + '</td> ' +
												"<td><div id='dtbMenu" + col.data + "' data-id='" + col.data + "' class='btn-group'></div></td>" +
												'</tr>';
											var sendData = DataMenu(col.data, "@Url.Action("EditRequest", "Request")", "@Url.Action("DetailsRequest", "Request")", "");
											$.post("/Common/DataTableMenu",
												sendData,
												function (response) {
													$("#dtbMenu" + col.data).html(response);
												});
											return menu;
										}
										return '<tr data-dt-row="' + col.rowIndex + '" data-dt-column="' + col.columnIndex + '">' +
											'<td>' + col.title + ':' + '</td> ' +
											'<td>' + col.data + '</td>' +
											'</tr>';
									} else {
										return '';
									}
								}).join('');

								return data ? $('<table/>').append(data).width("50%") : false;
							}
						}
					},
					ajax: {
						url: "@Url.Action("GetListRequestResponse", "Request")",
						type: "POST",
						datatype: "json"
					},
					columnDefs: [
						//{
						//	className: 'control',
						//	orderable: false,
						//	targets: 0
						//},
						//{
						//	targets: [11],
						//	orderable: false
						//}
					],
					columns: [
						{   // Responsive control column
							data: null,
							defaultContent: '',
							className: 'control',
							orderable: false
						},
						{ "data": "RequestNumber", searchable: true },
						{
							"data": "DateCreateRequest", searchable: true,
							render: function (data, type, full) {
								return ToJavaScriptDate(data);
							}
						},
						{ "data": "Solicitante", searchable: true },
						{
							"data": "Amount", orderable: false,
							render: $.fn.dataTable.render.number(',', '.', 2, '$')
						},
						{ "data": "PaymentsPeriod", orderable: false },
						{ "data": "DiscountRate", orderable: false },
						{ "data": "AdministrationExpenses", orderable: false },
						{
							"data": "AdministrationExpensesResult", orderable: false,
							render: $.fn.dataTable.render.number(',', '.', 2, '$')
						},
						{ "data": "AdditionalMonths", orderable: false },
						{
							"data": "AbonoCatorcenalMensual",
							render: $.fn.dataTable.render.number(',', '.', 2, '$')
						},
						{
							"data": "TotalPay",
							render: $.fn.dataTable.render.number(',', '.', 2, '$')
						},
						{ "data": "AvalName" },
						{
							"data": "DebitAval",
							render: $.fn.dataTable.render.number(',', '.', 2, '$')
						},
						{ "data": "TbRequestId" }
					]

				});
				//aplicamos el pluging al select
				$('.dataTables_length select').chosen({
					disable_search_threshold: 10,
					width: '80%'
				});
			} else { //Carga informacion obtenida por rango de fechas
				$('#listRequest').DataTable({
					serverSide: true,
					processing: true,
					destroy: true,
					//stateSave: true,
					filter: true,
					paging: true,
					order: [1, 'asc'],
					responsive:
					{
						details: {
							type: 'column',
							renderer: function (api, rowIdx, columns) {
								var data = $.map(columns, function (col, i) {
									if (col.hidden) {
										if (col.title === "Opciones") {
											var menu = "";
											menu = '<tr data-dt-row="' + col.rowIndex + '" data-dt-column="' + col.columnIndex + '">' +
												'<td>' + col.title + ':' + '</td> ' +
												"<td><div id='dtbMenu" + col.data + "' data-id='" + col.data + "' class='btn-group'></div></td>" +
												'</tr>';
											var sendData = DataMenu(col.data, "@Url.Action("EditRequest", "Request")", "@Url.Action("DetailsRequest", "Request")", "");
											$.post("/Common/DataTableMenu",
												sendData,
												function (response) {
													$("#dtbMenu" + col.data).html(response);
												});
											return menu;
										}
										return '<tr data-dt-row="' + col.rowIndex + '" data-dt-column="' + col.columnIndex + '">' +
											'<td>' + col.title + ':' + '</td> ' +
											'<td>' + col.data + '</td>' +
											'</tr>';
									} else {
										return '';
									}
								}).join('');

								return data ? $('<table/>').append(data).width("50%") : false;
							}
						}
					},
					ajax: {
						url: "@Url.Action("GetListRequestResponse", "Request")",
						type: "POST",
						data: rangeDate
					},
					columnDefs: [
						//{
						//	className: 'control',
						//	orderable: false,
						//	targets: 0
						//},
						//{
						//	targets: [11],
						//	orderable: false
						//}
					],
					columns: [
						{   // Responsive control column
							data: null,
							defaultContent: '',
							className: 'control',
							orderable: false
						},
						{ "data": "RequestNumber", searchable: true },
						{
							"data": "DateCreateRequest", searchable: true,
							render: function (data, type, full) {
								return ToJavaScriptDate(data);
							}
						},
						{ "data": "Solicitante", searchable: true },
						{
							"data": "Amount", orderable: false,
							render: $.fn.dataTable.render.number(',', '.', 2, '$')
						},
						{ "data": "PaymentsPeriod", orderable: false },
						{ "data": "DiscountRate", orderable: false },
						{ "data": "AdministrationExpenses", orderable: false },
						{
							"data": "AdministrationExpensesResult", orderable: false,
							render: $.fn.dataTable.render.number(',', '.', 2, '$')
						},
						{ "data": "AdditionalMonths", orderable: false },
						{
							"data": "AbonoCatorcenalMensual",
							render: $.fn.dataTable.render.number(',', '.', 2, '$')
						},
						{
							"data": "TotalPay",
							render: $.fn.dataTable.render.number(',', '.', 2, '$')
						},
						{ "data": "AvalName" },
						{
							"data": "DebitAval",
							render: $.fn.dataTable.render.number(',', '.', 2, '$')
						},
						{ "data": "TbRequestId" }
					]

				});
				//aplicamos el pluging al select
				$('.dataTables_length select').chosen({
					disable_search_threshold: 10,
					width: '80%'
				});
			}
		}

	</script>
}
