﻿<footer class="footer d-none d-sm-block">
	<div class="footer-inner">
		<div class="h-100 pt-3 border-none border-t-1 brc-default-l1 bgc-white-tp1 shadow">
			<span class="text-primary-m2 font-bolder text-120">SECCIÓN 47</span>
			<span class="text-muted">Administración © @DateTime.Now.Year</span>
		</div>
	</div><!-- .footer-inner -->
</footer>

<div class="footer-tools">
	<a id="btn-scroll-up" href="#" class="btn-scroll-up btn btn-white brc-black-tp7 btn-smd border-2 radius-round mb-2 mr-2">
		<i class="fa fa-angle-double-up w-2 h-2" aria-hidden="true"></i>
	</a>
</div>
