﻿@using Seccion.Web.Models
@model LoginViewModel
@{
	Layout = "~/Views/Shared/_LayoutLogin.cshtml";
	ViewBag.Title = "LoginOn";
}

<div class="main-container container">

	<div role="main" class="main-content minh-100 justify-content-center">
		<div class="p-2 p-md-4 h-100">
			<div class="row h-100">
				<div class="shadow radius-1 overflow-hidden bg-white col-12 col-lg-10 offset-lg-1">

					<div class="row h-100">

						<div class="d-none d-lg-flex col-lg-5 border-r-1 brc-default-l2 px-0">
							<div id="loginBgCarousel" class="carousel slide minw-100 h-100">
								<ol class="carousel-indicators d-none">
									<li data-target="#loginBgCarousel" data-slide-to="0" class="active"></li>
								</ol>

								<div class="carousel-inner minw-100 h-100">

									<div class="carousel-item active minw-100 h-100">
										<div style="background-image: url(../../assetsAce/image/login-bg-3.jpg);" class="d-flex flex-column align-items-center justify-content-start">
											<div class="bgc-black-tp4 radius-1 p-3 w-90 text-center my-3 h-100">
												<h1><i class="fa fa-leaf text-success-m2 text-125" aria-hidden="true"></i></h1>
												<h2 class="text-blue-l1">
													Seccion 47 <span class="text-80 text-white-tp3">  MUT47</span>
												</h2>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>


						<div class="col-12 col-lg-7 py-lg-5 bgc-white px-0">
							@*you can also use tab links*@
							<ul class="d-none mt-n4 mb-4 nav nav-tabs nav-tabs-simple justify-content-end" role="tablist">
								<li class="nav-item">
									<a class="nav-link active" data-toggle="tab" href="#id-tab-login" role="tab" aria-controls="login" aria-selected="true">
										Login
									</a>
								</li>
								<li class="nav-item">
									<a class="nav-link" data-toggle="tab" href="#id-tab-signup" role="tab" aria-controls="signup" aria-selected="false">
										Signup
									</a>
								</li>
							</ul>


							<div class="tab-content tab-sliding border-0 p-0" data-swipe="right">

								<div class="tab-pane active show mh-100 px-3 px-lg-0 pb-3" id="id-tab-login">
									<div class="d-none d-lg-block col-md-6 offset-md-3 mt-lg-4 px-0">
										<h4 class="border-b-1 brc-grey-l1 pb-1 text-uppercase">
											<i class="fa fa-coffee text-orange-m2 mr-1" aria-hidden="true"></i>
											Bienvenido
										</h4>
									</div>

									<div class="d-lg-none text-secondary-m1 my-4 text-center text-uppercase">
										<a href="html/dashboard.html">
											<i class="fa fa-leaf text-success-m2 text-200 mb-4" aria-hidden="true"></i>
										</a>
										<h1 class="text-170">
											<span class="text-blue-d1">
												Sección
												<span class="text-dark-tp3"> 47 </span>
											</span>
										</h1>

										Bienvenido
									</div>

									<form id="form-login" class="form-row mt-4" action="/Login/LoginOn" data-ajax="true" data-ajax-method="Post" data-ajax-success="CreateAssetSuccess" role="form" method="post" autocomplete="off" novalidate="">
										@Html.AntiForgeryToken()
										<div class="form-group col-md-6 offset-md-3">
											<div class="d-flex align-items-center input-floating-label text-danger brc-danger">
												@*<input type="text" class="form-control form-control-lg pr-4 shadow-none" id="id-login-username" autocomplete="off" />*@
												@Html.TextBoxFor(m => m.Usuario, new { @class = "form-control form-control-lg pr-4 shadow-none", required = "required", autocomplete="off" })
												<i class="fa fa-user text-dark ml-n4" aria-hidden="true"></i>
												<label class="floating-label text-grey-l1 text-100 ml-n3" for="id-login-username">Usuario o E-mail</label>
											</div>
										</div>

										<div class="form-group col-md-6 offset-md-3 mt-2 mt-md-1">
											<div class="d-flex align-items-center input-floating-label text-danger brc-danger">
												@*<input type="password" class="form-control form-control-lg pr-4 shadow-none" id="id-login-password" autocomplete="off" />*@
												@Html.PasswordFor(m => m.Password, new { @class = "form-control form-control-lg pr-4 shadow-none", required = "required" })
												<i class="fa fa-key text-dark ml-n4" aria-hidden="true"></i>
												<label class="floating-label text-grey-l1 text-100 ml-n3" for="id-login-password">Contraseña</label>
											</div>
										</div>
										<br />
										<br />
										<br />
										<div class="col-md-6 offset-md-3 text-right text-md-right mt-n2 mb-2">
											<a href="#" class="text-danger-d3 text-115" data-toggle="tab" data-target="#id-tab-forgot">
												Se te olvidó tu contraseña?
											</a>
										</div>
										<br />
										<br />
										<br />
										<div class="form-group col-md-6 offset-md-3">

											<button type="submit" class="btn btn-yellow btn-block btn-md btn-text-black btn-bold mt-2 mb-4 btn-text-slide-x">
												Iniciar Sesión <i class="btn-text-2  move-right fa fa-arrow-right text-120 align-text-bottom ml-2" aria-hidden="true"></i>
											</button>

										</div>
									</form>


								</div>



								<div class="tab-pane mh-100 px-3 px-lg-0 pb-3" id="id-tab-forgot" data-swipe-prev="#id-tab-login">
									<div class="position-tl ml-3 mt-2">
										<a href="#" class="btn btn-light-danger bg-transparent" data-toggle="tab" data-target="#id-tab-login">
											<i class="fa fa-arrow-left" aria-hidden="true"></i>
										</a>
									</div>

									<div class="col-md-6 offset-md-3 mt-5 px-0">
										<h4 class="pt-4 pt-md-0 text-dark-tp4 border-b-1 brc-grey-l1 pb-1 text-130 text-uppercase">
											<i class="fa fa-key text-brown-m2 mr-1" aria-hidden="true"></i>
											Recuperar Contraseña
										</h4>
									</div>

									<form id="form-recover-password" class="form-row mt-4" autocomplete="off">
										<div class="form-group col-md-6 offset-md-3">
											<label class="text-secondary-m1 mb-3">
												Ingrese su dirección de correo electrónico y le enviaremos las instrucciones:
											</label>
											<div class="d-flex align-items-center">
												<input type="email" class="form-control form-control-lg pr-4 shadow-none" id="id-recover-email" placeholder="E-mail" autocomplete="off" />
												<i class="fa fa-envelope text-grey-m2 ml-n4" aria-hidden="true"></i>
											</div>
										</div>


										<div class="form-group col-md-6 offset-md-3 mt-1">
											<button type="button" class="btn btn-yellow btn-block btn-md btn-text-black btn-bold mt-2 mb-4 btn-text-slide-x">
												Continuar <i class="btn-text-2  move-right fa fa-arrow-right text-120 align-text-bottom ml-2" aria-hidden="true"></i>
											</button>
										</div>
									</form>


									<div class="form-row w-100">
										<div class="col-12 col-md-6 offset-md-3 d-flex flex-column align-items-center justify-content-center">

											<hr class="brc-default-m4 mt-0 mb-2 w-100" />

											<div class="p-0 px-md-2 text-dark-tp4 my-3">
												<a class="text-danger-d2 text-600" data-toggle="tab" data-target="#id-tab-login" href="#">
													Regresar para iniciar sesión
												</a>
											</div>


										</div>
									</div>
								</div>

							</div>
						</div>

					</div>

				</div>
			</div>

			<div class="d-lg-none my-3 text-white-tp1 text-center text-uppercase">
				<i class="fa fa-leaf text-success-l3 mr-1 text-110 " aria-hidden="true"></i> Sección 47 Company &copy; @DateTime.Now.Year
			</div>
		</div>
	</div>

</div>

@section scripts {

	<script src="~/assetsAce/js/page.login/aes.js"></script>
	<script type="text/javascript">
		$(document).ready(function () {
			ValidatorForm("form-login", "Este campo es requerido", "Éxito");
		});
		function CreateAssetSuccess(data) {
        @*grecaptcha.ready(function () {
            grecaptcha.execute('@(ConfigurationManager.AppSettings["KeySite"].ToString())', { action: '/Login/Login' }).then(function (token) {
                $("#html_element").val(token);
                $('#ContainerModal').find("input[name=html_element]:hidden").val(token);
            });
        });

        if (data.ChangePass === "ChangePassword") {

            NotifierMessage('@Languaje.TituloInfo.ToLower()', messageSeverity.Info, 'Correio enviado com sucesso para: ' + data.email + '. Verifique as orientações em sua caixa de e-mail.');
            return;
        }
        if (data === "RenaultNissan") {

            var set_data = '';
            $.ajax({
                url: "/Login/CompanyType",
                method: "post",
                async: false,
                data: { usuario: $("#Usuario").val(), pass: $("#Password").val(), token: $("#html_element").val() },
                success: function (data) {
                    set_data = data;
                }
            });
            $('#ContainerModal').html(set_data);
            grecaptcha.ready(function () {
                grecaptcha.execute('@(ConfigurationManager.AppSettings["KeySite"].ToString())', { action: '/Login/Login' }).then(function (token) {
                    $('#ContainerModal').find("input[name=html_element]:hidden").val(token);
                });
            });

            $('#ModalCatalogs').modal('show');
            return;
        }
        if (data.TermsConditions === "TermsConditions") {
            var set_data = '';
            $('#ModalCatalogs').modal('hide');
            $('#ContainerModal').html("");

            $.ajax({
                url: "/Login/TermsConditions",
                method: "post",
                async: false,
                data:{
                    __RequestVerificationToken: $('input[name="__RequestVerificationToken"]').val(),
                    usuario: $("#Usuario").val(),
                    pass: $("#Password").val(),
                    company: data.company,
                    Enter: data.enter
                },
                success: function (response) {
                    set_data = response;
                }
            });
            $('#ContainerTermsConditions').html(set_data);
            grecaptcha.ready(function () {
                grecaptcha.execute('@(ConfigurationManager.AppSettings["KeySite"].ToString())', { action: '/Login/Login' }).then(function (token) {
                    $('#ContainerTermsConditions').find("input[name=html_element]:hidden").val(token);
                });
            });

            $('#TermsConditions').modal('show');
            //$.validator.unobtrusive.parse($(data));

            return;
        }
        if (data === "Failed") {

            $("#Usuario").val('');
            $("#Password").val('');
            $('#FormLogin').get(0).reset();
            NotifierMessage('@Languaje.TituloWarning.ToLower()', messageSeverity.Warning, "Login falhou; Insira informações válidas");
            return;
        }
        if (data === "FailedActive") {
            $("#Usuario").val('');
            $("#Password").val('');
            $('#FormLogin').get(0).reset();
            NotifierMessage('@Languaje.TituloInfo.ToLower()', messageSeverity.Info, 'Você já não tem permissão para acessar o sistema da Frota');
            return;
        }
        if (data.success === false) {
            $("#Usuario").val('');
            $("#Password").val('');
            $('#ModalCatalogs').modal('hide');
            $('#ContainerModal').html('');
            $('#TermsConditions').modal('hide');
            $('#ContainerTermsConditions').html('');
            $('#FormLogin').get(0).reset();
            NotifierMessage('@Languaje.TituloWarning.ToLower()', messageSeverity.Warning, data.message);
            return;
        }
        if (data === "success") {

            $("#PassContent").show();
            $("#Password").attr("required", "required");
            $("#btnEmail").hide();

            return;
        }
        $('#ModalCatalogs').modal('hide');
        $('#ContainerModal').html("");
        $('#TermsConditions').modal('hide');
        $('#ContainerTermsConditions').html("");*@
        window.location.href = data;
    }
		function SubmitsEncry() {

			//debugger;
			var txtUserName = $("#Usuario").val();
			var txtpassword = $("#Password").val();

			if (txtUserName === "") {
				//alert('Please enter UserName');
				return false;
			}
			else if (txtpassword === "") {
				//alert('Please enter Password');
				return false;
			}
			else {
				var key = CryptoJS.enc.Utf8.parse('8080808080808080');
				var iv = CryptoJS.enc.Utf8.parse('8080808080808080');

				var encryptedlogin = CryptoJS.AES.encrypt(CryptoJS.enc.Utf8.parse(txtUserName), key,
					{
						keySize: 128 / 8,
						iv: iv,
						mode: CryptoJS.mode.CBC,
						padding: CryptoJS.pad.Pkcs7
					});

				$("#Usuario").val(encryptedlogin);

				var encryptedpassword = CryptoJS.AES.encrypt(CryptoJS.enc.Utf8.parse(txtpassword), key,
					{
						keySize: 128 / 8,
						iv: iv,
						mode: CryptoJS.mode.CBC,
						padding: CryptoJS.pad.Pkcs7
					});

				$("#Password").val(encryptedpassword);
			}
		}
	</script>
}